<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mme.saif_win10.mcqmasterenglish">

    <application
        android:name=".MCQMasterEnglish"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".PartsOFspeech.BcsPOSoptionRecV"
            android:label="@string/title_activity_bcs_option_recycler_v" />
        <activity android:name=".mcqROOMdatabase.McqVersion1" />
        <activity android:name=".mcqROOMdatabase.McqVersion2" />
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".memorizeROOMdatabase.MemorizeVersion1"
            android:label="@string/title_activity_memorize_version1"
            android:theme="@style/AppTheme" />
    </application>

</manifest>